<h1>TOPページ</h1>
	<% @products.each do |product| %>
		<%= product.product_name %>
		<%= product.product_price %>
		<%= product.product_introduction %>
		<% product.images.each do |image| %>
			<%#= attachment_image_tag image, :product_image %>
		<% end %>
	<% end %>

	<% @shops.each do |shop| %>
		<%= shop.prefecture %>
		<%= shop.shop_name %>
		<%= shop.shop_introduction %>
		<%= shop.send_period %>
		<%= shop.shop_phone_number %>
		<%#= attachment_image_tag  shop,:shop_image, format: 'jpeg',fallback: "no_image.jpg", size: "180x180" %></br>
	<% end %>

