<div class="back-image">
<div class="back-color">
<div class=shop-main>
	<div class=shop-sub-main>
		<div class="container">
		<div class="row">
		<% if @shop.shop_deleted_at == nil %>
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<div class="shop-name-prefecture" style="width:100%; height:100px; margin-top: 100px;">
					<div class="shop-main-title text"><h1>【<%= @shop.shop_name %>】</h1></div>
					<div class="shop-prefecture text"><h2 style="text-align: right;"><%= @shop.prefecture %></br></h2></div>
				</div>
				<div class="shop-main-image clearfix">
					<%= attachment_image_tag @shop, :shop_image, format: 'jpeg', fallback: "/no_image.jpg" %></br>
				</div>

				<div class="shop-sub-titile" style="width:100%; height:100px;">
					<% if user_signed_in? %>
						<div class="shop-follow">
				          	<% if @shop.favorited_by?(current_user) %>
				              	<%= link_to shop_follows_path(@shop), method: :delete do %>
				                	<%= image_tag("/42886.png", :size => "60x60") %>
				            	<%#= @shop.follows.count %><h2 class="text" style="display: inline-block;">フォロー中</h2>
				            	<% end %>
				        	<% else %>
				            	<%= link_to shop_follows_path(@shop), method: :post do %>
				                  	<%= image_tag("/42884.png", :size => "60x60") %>
				            	<%#= @shop.follows.count %><h2 class="text" style="display: inline-block;">フォローする</h2>
				            	<% end %>
				         	<% end %>
				        </div>
			        <% end %>

			        <% if current_shop || @user.user_status == "管理者" %>
				        <div class="shop-edit">
							<h1 class="admin-edit text"><%=link_to "このお店を編集", edit_shop_path(@shop.id),class: "label label-success" %></h1>
							<h1 class="admin-destroy text"><%=link_to "このお店を削除", shop_path(@shop.id), "data-confirm" => "本当に削除しますか？", method: :delete, class: "label label-danger" %></h1></br>
						</div>
					<% end %>
				</div>
				<div class="shop-main-info text clearfix">
					配送期間：<%= @shop.send_period %>日以内</br>
					お問合せ先：<%= @shop.shop_phone_number %></br>
					【店舗情報】</br>
					<%= @shop.shop_introduction %></br>
				</div>

				<div class="shop-product-info clearfix">
					<h2 class="text">〔このお店の商品〕</h2>
					<div class="user-products clearfix">
		        	<div class="user-favorites clearfix">
						<% @shop.products.each do |product| %>
							<% if product.permission == false %>
				        		<div class="product-info">
									<%= link_to product_path(product.id) do %>
										<div class="product-image"><%= attachment_image_tag product.images[0], :product_image,  format: 'jpeg', fallback: "/no_image.jpg", size: "100x100" %></br></div>
										<div class="product-title" style="width:100%; height:50px;">
											<h3 class="product-name text"><%=product.product_name %></br></h3>
											<h4 class="product-sub-price text"><%=product.product_price %>円</br></h4>
											<div class="product-introduction text" style="width:100%; height:150px;"><%=product.product_introduction %></br></div>
										</div>
										<% if shop_signed_in? %>
											<%=link_to "この商品を編集", edit_product_path(product.id),class: "label label-success text" %>
											<%=link_to "この商品を削除", product_path(product.id), "data-confirm" => "本当に削除しますか？", method: :delete,class: "label label-denger text" %></br>
										<% end %>
									<% end %>
								</div>
							<% end %>
						<% end %>
					</div>
					</div>
				</div>
			</div>

		<% else %>
		<h1>このお店は存在しません。</h1>
		<% end %>
		</div>
		</div>
	</div>
</div>
</div>
</div>
