
<h2>登録情報を編集する</h2>

<%= form_for @user do |f| %>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", placeholder:"名前をフルネームで記入" %>
  </div>

  <div class="field">
    <%= f.label :カナ名 %><br />
    <%= f.text_field :kana_user_name, autofocus: true, autocomplete: "kana_user_name", placeholder:"名前をカタカナフルネームで記入" %>
  </div>

  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nick_name, autofocus: true, autocomplete: "nick_name", placeholder:"ここに記入した文字が表示されます" %>
  </div>
  プロフィール画像：<%= f.attachment_field :user_image,style: "color: black;" %>
  <div class="field">
    <%= f.label :郵便番号 %><br />
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder:"郵便番号を記入" %>
  </div>

  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder:"商品の配送先住所を記入" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder:"電話番号を記入" %>
  </div>

    <%= f.submit "更新する" %>
  </div>

<% end %>


