<h1><%= current_user.user_name %>のページ</h1>

	<%= form_for @user, url: user_path, method: :patch do |f| %>

	  <div class="field">
	    <%= f.label :名前 %><br />
	    <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", placeholder:"名前をフルネームで記入" %>
	  </div>

	  <div class="field">
	    <%= f.label :カナ名 %><br />
	    <%= f.text_field :kana_user_name, autofocus: true, autocomplete: "kana_user_name", placeholder:"名前をカタカナフルネームで記入" %>
	  </div>

	  <div class="field">
	    <%= f.label :電話番号 %><br />
	    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder:"電話番号を記入" %>
	  </div>

	    <%= f.submit "更新する" %>
	  </div>
	<% end %>

	<%=link_to "退会する", user_path, "data-confirm" => "本当に退会しますか？", method: :delete %>


	<%= form_tag(search_path, method: :get) do %>
      <%= text_field_tag(:content,'', :placeholder => "検索してください") %>
      <%= submit_tag "検索する" %>
    <% end %>
    <% if @search == "true" %>
	    <h2>検索されたユーザー</h2>
			<% @user_search.each do |user| %>
				<%= link_to user_path(user.id) do %>
					<%= attachment_image_tag user, :user_image, format: 'jpeg', fallback: "/no_image.jpg", size: "100x100", class: "user-image" %></br>
					名前：<%= user.user_name %></br>
					カナ：<%= user.kana_user_name %></br>
					ニックネーム：<%= user.nick_name %></br>
					退会日時：<%= user.user_deleted_at %></br>
				<% end %>
			<% end %>

		<h2>検索されたお店</h2>
            <% @shops_search.each do |shop| %>
                <% if shop.shop_deleted_at == nil %>
                    <%= link_to shop_path(shop.id) do %>
                        <%= shop.shop_name %></br>
                        <%= attachment_image_tag shop, :shop_image, format: 'jpeg', fallback: "/no_image.jpg", size: "100x100" %></br>
                        <%= shop.shop_introduction %></br>
                        <%= shop.prefecture %></br>
                    <% end %>
                <% end %>
            <% end %>
    <% else %>
    	<h2>ユーザーの一覧</h2>
			<% @user_search.each do |user| %>
				<%= link_to user_path(user.id) do %>
					<%= attachment_image_tag user, :user_image, format: 'jpeg', fallback: "/no_image.jpg", size: "100x100", class: "user-image" %></br>
					名前：<%= user.user_name %></br>
					カナ：<%= user.kana_user_name %></br>
					ニックネーム：<%= user.nick_name %></br>
					退会日時：<%= user.user_deleted_at %></br>
				<% end %>
			<% end %>

		<h2>お店一覧</h2>
            <% @shops_search.each do |shop| %>
                <% if shop.shop_deleted_at == nil %>
                    <%= link_to shop_path(shop.id) do %>
                        <%= shop.shop_name %></br>
                        <%= attachment_image_tag shop, :shop_image, format: 'jpeg', fallback: "/no_image.jpg", size: "100x100" %></br>
                        <%= shop.shop_introduction %></br>
                        <%= shop.prefecture %></br>
                    <% end %>
                <% end %>
            <% end %>
    <% end %>