<h1>TOPページ</h1>

	<%if @search = "true" %>
        <h2>検索結果</h2>
        <% @products.each do |product| %>
            <div class="event-body", style= "border: 1px solid white;">
            <%= link_to product_path(product.id) do %>
                <%= product.product_name %>
                <%= product.product_price %>
                <%= product.product_introduction %>
                <% product.images.each do |image| %>
                <%#= attachment_image_tag product, :product_image, format: 'jpeg' %>
                <% end %>
            </div>
          	<% end %>
        <% end %>
            <%= paginate @products, class: "pagenate" %>
        <% @shops.each do |shop| %>
            <div class="event-body", style= "border: 1px solid white;">
            <%= link_to shop_path(shop.id) do %>
                <%= attachment_image_tag shop, :shop_image, format: 'jpeg' %>
                <%= shop.shop_name %>
                <%= shop.shop_introduction %>
            </div>
            <% end %>
        <% end %>
            <%= paginate @shops, class: "pagenate" %>
    <% else %>

        <% @product.each do |p| %>
            <div class="event-body", style= "border: 1px solid white;">
            <%= link_to product_path(p.id) do %>
                <%= p.product_name %>
                <%= p.product_price %>
                <%= p.product_introduction %>
                <% p.images.each do |image| %>
                <%#= attachment_image_tag p, :product_image, format: 'jpeg' %>
                <% end %>
            </div>
            <% end %>
        <% end %>
            <%= paginate @product, class: "pagenate" %>
        <% @shop.each do |s| %>
            <div class="event-body", style= "border: 1px solid white;">
            <%= link_to shop_path(s.id) do %>
                <%= attachment_image_tag s, :shop_image, format: 'jpeg' %>
                <%= s.shop_name %>
                <%= s.shop_introduction %>
            </div>
            <% end %>
        <% end %>
             <%= paginate @shops, class: "pagenate" %>

    <% end %>