<h1>商品詳細ページ</h1>
			商品名：<%= @product.product_name %> 【評価：<%= @review_average %>】
			<% if @review_average < 1.5 %>
				<div class="star-ratings-sprite"><span style="width:20%" class="star-ratings-sprite-rating"></span></div>
			<% elsif @review_average >= 1.5 && @review_average < 2 %>
				<div class="star-ratings-sprite"><span style="width:30%" class="star-ratings-sprite-rating"></span></div>
			<% elsif @review_average >= 2 && @review_average < 2.5 %>
				<div class="star-ratings-sprite"><span style="width:40%" class="star-ratings-sprite-rating"></span></div>
			<% elsif @review_average >= 2.5 && @review_average < 3 %>
				<div class="star-ratings-sprite"><span style="width:50%" class="star-ratings-sprite-rating"></span></div>
			<% elsif @review_average >= 3 && @review_average < 3.5 %>
				<div class="star-ratings-sprite"><span style="width:60%" class="star-ratings-sprite-rating"></span></div>
			<% elsif @review_average >= 3.5 && @review_average < 4 %>
				<div class="star-ratings-sprite"><span style="width:70%" class="star-ratings-sprite-rating"></span></div>
			<% elsif @review_average >= 4 && @review_average < 4.5 %>
				<div class="star-ratings-sprite"><span style="width:80%" class="star-ratings-sprite-rating"></span></div>
			<% elsif @review_average >= 4.5 && @review_average < 5 %>
				<div class="star-ratings-sprite"><span style="width:90%" class="star-ratings-sprite-rating"></span></div>
			<% elsif @review_average == 5 %>
				<div class="star-ratings-sprite"><span style="width:100%" class="star-ratings-sprite-rating"></span></div>
			<% else %>
			<p>まだレビューがありません</p>
			<% end %>
			</br>



			<%# @product.images.each do |image| %>
			<%#= attachment_image_tag image, :product_image, format: 'jpeg', fallback: "/no_image.jpg", size: "300x300" %>
			<%# end %>

			<!-- Swiper START -->
			<div class="swiper-container">
				<!-- メイン表示部分 -->
				<div class="swiper-wrapper">
					<!-- 各スライド -->
					<div class="swiper-slide" style="border: 1px solid red;"><%= attachment_image_tag @product.images[0], :product_image,  format: 'jpeg', fallback: "/no_image.jpg", size: "300x300" %></div>
					<div class="swiper-slide" style="border: 1px solid green;"><%= attachment_image_tag @product.images[1], :product_image,  format: 'jpeg', fallback: "/no_image.jpg", size: "300x300" %></div>
					<div class="swiper-slide" style="border: 1px solid blue;"><%= attachment_image_tag @product.images[2], :product_image,  format: 'jpeg', fallback: "/no_image.jpg", size: "300x300" %></div>
					<div class="swiper-slide" style="border: 1px solid black;"><%= attachment_image_tag @product.images[3], :product_image,  format: 'jpeg', fallback: "/no_image.jpg", size: "300x300" %></div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-pagination"></div>
			</div>
			<!-- Swiper END -->







			<br>商品紹介：<%= @product.product_introduction %></br>
			価格：<%= @product.product_price %></br>
			在庫数：<%= @product.product_stock %></br>

        <% if user_signed_in? && current_user.user_status != "管理者" %>
          	<% if @product.favorited_by?(current_user) %>
              	<%= link_to  product_favorites_path(@product), method: :delete do %>
                	<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
             	<% end %>
            	<%= @product.favorites.count %>お気に入り
        	<% else %>
            	<%= link_to  product_favorites_path(@product), method: :post do %>
                  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: gray;"></span>
            	<% end %>
            	<%= @product.favorites.count %>お気に入り
         	<% end %>

			<% if @product.product_stock == 0 %>
				<%= "在庫がありません" %>
			<% else %>
				<%= form_for(@carts) do |f| %>

				<%#= f.hidden_field :user_id, :value => 2 %>
				<%= f.hidden_field :user_id, :value => current_user.id %>

				<%= f.hidden_field :product_id, :value => @product.id %>
				<%= f.select :product_quantity,(0..@product.product_stock).to_a %>個
				<%= f.submit "カートに入れる" %>
				<% end %>
			<% end %>
		<% elsif shop_signed_in? || current_user.user_status == "管理者" %>
			<% if @product.favorited_by?(current_user) %>
	              	<%= link_to  product_favorites_path(@product), method: :delete do %>
	                	<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
	             	<% end %>
	            	<%= @product.favorites.count %>お気に入り
	        	<% else %>
	            	<%= link_to  product_favorites_path(@product), method: :post do %>
	                  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: gray;"></span>
	            	<% end %>
	            	<%= @product.favorites.count %>お気に入り
	         	<% end %>

            <%=link_to "この商品を編集", edit_product_path(@product.id) %>
            <%=link_to "この商品を削除", product_path(@product.id), "data-confirm" => "本当に削除しますか？", method: :delete %>
		<% end %>



			<% if user_signed_in? %>
				<%= form_for [@product, @comment] do |f| %>
      			<h3>コメント記入</h3>
      				この商品の評価：<%= f.select :review, [[ 1, 1 ], [ 2, 2 ], [ 3, 3 ], [ 4, 4 ], [ 5, 5 ]] %></br>
          			<%= f.text_area :comment, placeholder: "コメントを記入" %></br>
          			<%= f.submit "送信する" %>
        		<% end %>
        	<% end %>





    		<h3>コメント一覧</h3>
      			<% @product.comments.each do |comment| %>
            	<%= attachment_image_tag  comment.user, :user_image,  format: 'jpeg', fallback: "/no_image.jpg", size: "95x95" %>
		        この商品への評価：<%= comment.review %></br>
	            コメント：<%= comment.comment %></br>
      			<% end %>

