<div class="back-image">
<div class="back-top-color">

<div class=shop-main style="margin-top: 55px;">
    <div class=shop-sub-main>
        <div class="container">
            <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <h2 class="text" style="margin:40px 0px;">お店に入る</h2>

                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="field text" style="margin-bottom: 20px; font-size: 30px;">
                        <%= f.label :メールアドレスを入力, class: "text" %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                      </div>

                      <div class="field text" style="margin-bottom: 20px; font-size: 30px;">
                        <%= f.label :パスワードを入力, class: "text" %><br />
                        <%= f.password_field :password, autocomplete: "current-password" %>
                      </div>

                      <% if devise_mapping.rememberable? -%>
                        <div class="field text" style="margin-bottom: 20px; font-size: 20px;">
                          <%= f.check_box :remember_me %>
                          <%= f.label :この情報を記憶, class: "text" %>
                        </div>
                      <% end -%>

                      <div class="actions">
                        <%= f.submit "お店に入る", class: "btn btn-warning text",style:"font-size: 40px; margin-top:20px; color:white;" %>
                      </div>
                    <% end %>


                    <%= render "shops/shared/links" %>
                    <div style="margin-bottom: 90px;"></div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
