<!DOCTYPE html>
<html>
  <head>
    <title>Amaisuika</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheets" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.css">
  </head>

  <body>
    <header>
        <% if user_signed_in?  %>
            <!-- 一般ユーザーログイン時のヘッダー -->
            <% if current_user.user_status == "一般ユーザー" %>
                <nav class="navbar navbar-default" style="background-color: rgba(0,0,0,0.0)>
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarEexample3">
                    <ul class="nav navbar-nav">
                        <%= link_to product_search_path do %>
                            <img src="/43364.png" class="header-logo" style="float:left;">
                        <% end %>
                        <li class="text"><%= link_to "あまいスイカGoods", new_shop_path %></li>
                        <li class="text"><%= link_to "マイページ", user_path(current_user.id) %></li>
                        <li class="text"><%= link_to "カートの中", cart_path(current_user.id) %></li>
                        <li class="text"><%= link_to "お店をひらく", new_shop_registration_path %></li>
                        <li class="text"><%=link_to "ログアウト", destroy_user_session_path, "data-confirm" => "ログアウトしますか？", method: :delete %></li>
                      <div class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                          <%= form_tag(product_search_path, :method => :get) do %>
                            <%= text_field_tag(:content,'', :placeholder => "検索してください", class:"form-control text", style: "margin-right:10px;") %>
                            <%= submit_tag "検索する", class: "btn btn-default text"  %>
                          <% end %>
                        </div>
                      </div>
                    </ul>
                    </div>
                  </div>
                </nav>
            <% end %>

            <!-- 管理者ログイン時のヘッダー -->
            <% if current_user.user_status == "管理者" %>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <div class="collapse navbar-collapse" id="navbarEexample3">
                <ul class="nav navbar-nav">
                    <%= link_to product_search_path do %>
                        <img src="/43364.png" class="header-logo" style="float:left;">
                    <% end %>
                    <li class="text"><%= link_to "あまいスイカGoods", new_shop_path %></li>
                    <li class="text"><%= link_to "管理者ページ", search_path(current_user.id) %></li>
                    <li class="text"><%= link_to "申請中の商品を確認", users_path %></li>
                    <li class="text"><%=link_to "ログアウト", destroy_user_session_path, "data-confirm" => "ログアウトしますか？", method: :delete %></li>
                  <div class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                      <%= form_tag(product_search_path, :method => :get) do %>
                        <%= text_field_tag(:content,'', :placeholder => "検索してください", class:"form-control text", style: "margin-right:10px;") %>
                        <%= submit_tag "検索する", class: "btn btn-default text"  %>
                      <% end %>
                    </div>
                  </div>
                </ul>
                </div>
              </div>
            </nav>
            <% end %>
            <!-- ショップオーナーログイン時のヘッダー -->
        <% elsif shop_signed_in? %>
          <div style="background-color: #BBF994; text-align: center; ">
          <h1 class= "out-shop text" style="margin-right: 3%; font-size: 50px; margin-top: 0px;"><%= link_to "最初の画面に戻る", shop_main_path(current_shop.id),class: "label label-success text" %></h1>
          <h1 class= "out-shop text" style="margin-right: 3%; font-size: 50px; margin-top: 0px;"><%= link_to "お店から出る",  destroy_shop_session_path, "data-confirm" => "お店から出ますか？", method: :delete, class: "label label-danger text" %></h1>
          </div>
            <!-- ログアウト時のヘッダー -->
        <% else %>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <div class="collapse navbar-collapse" id="navbarEexample3">
                <ul class="nav navbar-nav">
                    <%= link_to product_search_path do %>
                        <img src="/43364.png" class="header-logo" style="float:left;">
                    <% end %>
                    <li class="text"><%= link_to "あまいスイカGoods", new_shop_path %></li>
                    <li class="text"><%= link_to "新規登録", new_user_registration_path %></li>
                    <li class="text"><%= link_to "ユーザーログイン", new_user_session_path %></li>
                    <li class="text"><%= link_to "お店をひらく", new_shop_registration_path %></li>
                    <li class="text"><%= link_to "お店に入る", new_shop_session_path %></li>
                  <div class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                      <%= form_tag(product_search_path, :method => :get) do %>
                        <%= text_field_tag(:content,'', :placeholder => "検索してください", class:"form-control text", style: "margin-right:10px;") %>
                        <%= submit_tag "検索する", class: "btn btn-default text"  %>
                      <% end %>
                    </div>
                  </div>
                </ul>
                </div>
              </div>
            </nav>
        <% end %>

    </header>
        <div class="fallback-main-color">
        <%= yield %>
        </div>
        <footer class="footer-color">
              <%=link_to "運営に質問する", "https://docs.google.com/forms/d/e/1FAIpQLSelvK_znRgNptqpfQkwrD-ev7FtCemK3y6qfIqXvynVoiOT9g/viewform", style:"color:black; margin-left: 20%;" %>
              <h5 style="color: black; margin-bottom: 0px; margin-left: 80%;">© あまいスイカ</h5>
        </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.js"></script>
  </body>
</html>
