<!DOCTYPE html>
<html>
  <head>
    <title>Amaisuika</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in?%>
          <%= link_to shops_path do %>
            <div>ここにロゴ入れる</div>
          <% end %>
      <% else %>
          <%= link_to shops_path do %>
           <div>ここにロゴ入れる</div>
          <% end %>
      <% end %>

      <%= form_tag(product_search_path, method: :get) do %>
          <%= text_field_tag(:content,'', :placeholder => "検索してください") %>
          <%= submit_tag "検索する" %>
      <% end %>


    </header>
    <%= yield %>
  </body>
</html>
